/* SnakeLadders.css
   CS 346 Project 2
   Phillip Griffith Jr
 */

 body {
     background-color: bisque;
 }

 h1 {
     text-align: center;
 }

 #canvasArea {
     text-align: center;
 }

 #boardCanvas {
     background-image: url("Snakes and ladders.png");
     margin-bottom: 30px;
 }

 #button_div {
     text-align: center;
     margin-bottom: 18px;
 }

 #roll_button {
     font-size: 16pt;
 }