/* SnakeLadders.css
   CS 346 Project 2
   Phillip Griffith Jr
 */

 body {
     background-color: bisque;
 }

 h1 {
     text-align: center;
 }

 #canvasArea {
     text-align: center;
 }

 #boardCanvas {
     background-image: url("Snakes and ladders.png");
     margin-bottom: 30px;
 }

 #button_div {
     display: flex;
     justify-content: space-evenly;
     margin-bottom: 18px;
     margin-left: 20%;
     margin-right: 20%;
 }

 #roll_button, #new_game_button, #submit_name_button, #name_input_box {
     font-size: 16pt;
 }